@page
@model WeddingSite.Pages.BoendeModel
@{
    ViewData["Title"] = "Boende";
}

<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">Boende</h1>
    <hr />
    <div class="row">
        <div class="col-md">
            <img class="img-fluid" src="~/images/72d58381-fb83-4411-959c-16a5c6451cf7.webp" />
        </div>
        <div class="col-md">
            <p>
                På Flottsbros anläggning finns en camping i direkt anslutning till värdshuset.
                Här går det att hyra stuga, plats för husbil/husvagn eller till och med tält om man känner för det.
            </p>
            <p>
                <a href="https://www.flottsbro.se/bo/" target="_blank">Läs mer och boka här</a>
            </p>
            <p>
                Det kan vara en bra idé att boka i någorlunda god tid då festen äger rum mitt i sommarhögsäsongen.
            </p>
        </div>
    </div>
</div>