@page
@model WeddingSite.Pages.GiftsModel
@{
    ViewData["Title"] = "Bröllopsgåvor";
}

<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">Bröllopsgåvor</h1>
    <hr />
    <div class="row">
        <div class="col-md">
            <img class="img-fluid" src="~/images/IMG_9204.jpeg" />
        </div>
        <div class="col-md">
            <p>
                Då vi bägge är (nästan lite för) bra på att själva köpa det vi saknar i prylväg önskar vi oss helst bidrag till vår bröllopsresa i gåva.
            </p>
            <p>
                Vi vill dock påtala att detta inte är något vi förväntar oss, utan eventuella bidrag tas med stor tacksamhet emot från de som <u>vill</u> och <u>kan</u> :)
            </p>
            <p>
                Betalningsuppgifter finns på OSA-sidan och kommer även finnas synliga på bröllopsfesten.
            </p>
        </div>
    </div>
</div>