@page
@model WeddingSite.Pages.ContactModel
@{
    ViewData["Title"] = "Kontakta oss";
}

<div class="text-center">
    <h1 class="display-4">Kontakta oss</h1>
    <hr />
    <p>
        Om ni har några frågor, eller vill komma i kontakt med oss,
        så kan ni skicka ett mail till e-postadressen nedan.<br />
        <i>(eller så kan ni ringa/skicka sms eller något också)</i>
    </p>
    <p>Vi kommer göra vårt bästa för att svara så snabbt som möjligt!</p>
    <h2><a href="mailto:brollop@itssimple.se?subject=Frågor om bröllopet">brollop@itssimple.se</a></h2>
</div>