@page
@model WeddingSite.Pages.DresscodeModel
@{
    ViewData["Title"] = "Klädsel/Klädkod";
}

<div class="text-center">
    <h1 class="display-4">Klädsel/Klädkod</h1>
    <hr />
    <p>
        Klädseln för bröllopet
    </p>
</div>