@page
@model WeddingSite.Pages.GiftsModel
@{
    ViewData["Title"] = "Mat och dryck";
}

<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">Mat och dryck</h1>
    <hr />
    <div class="row">
        <div class="col-md">
            <img class="img-fluid" src="~/images/E0D5F694-F8A5-4E30-B3F6-1514B9851E72.jpg" />
        </div>
        <div class="col-md">
            <p>
                Till middag bjuds det på en härligt somrig grillbuffé, följt av en klassisk bröllopstårta.
                Senare på kvällen serveras snacks och vickning.
            </p>
            <p>
                Mousserande brudskål, dryck till varmrätt och dessert, samt kaffe/te ingår i era kuvert.
                Självklart kommer även värdshusets bar finnas tillgänglig till självkostnadspris under hela kvällen.
            </p>
        </div>
    </div>
</div>