@page
@model WeddingSite.Pages.GalleryModel
@{
    ViewData["Title"] = "Fotogalleri";
}

<div class="text-center">
    <h1 class="display-4">Galleri - Här var det tomt!</h1>
    <hr />
    <p>Vi har inte lagt upp några bilder här ännu, men kommer att göra det lite då och då.</p>
</div>