@page
@model WeddingSite.Pages.GiftsModel
@{
    ViewData["Title"] = "Bröllopsgåvor";
}

<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">Bröllopsgåvor</h1>
    <hr />
    <p>
        Detaljer gällande eventuella bröllopsgåvor kommer :)
    </p>
</div>