@page
@model WeddingSite.Pages.GiftsModel
@{
    ViewData["Title"] = "Bröllopsgåvor";
}

<div class="text-center">
    <h1 class="display-4">Bröllopsgåvor</h1>
    <hr />
    <p>
        Vi är lite speciella och har inte önskat oss några presenter,<br />
        utan vi önskar oss mer att ni bidrar till vår bröllopsresa/framtida boende.
    </p>
    <p>
        Ingen summa är för liten, det är ju såklart att ni dyker upp som är största gåvan,<br />
        så bidra med det ni känner att ni klarar av, ni ska inte behöva känna någon särskild press. :)
    </p>
    <p>
        Ni kan swisha antingen Chris eller Sol, sålänge ni anger i meddelandet att det gäller bröllopet,<br />
        så att vi vet att pengarna ska direkt in på vårt gemensamma sparkonto!
    </p>
    <p>Behöver ni nummer till någon av oss, så kan ni kontakta oss via <a asp-page="/Contact">Kontakta oss</a>-sidan</p>
</div>