@page
@model IndexModel
@{
    ViewData["Title"] = "Sol & Chris bröllopssida";
}

<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">Välkomna till vår bröllopssite!</h1>
    <hr />
    <img class="img-fluid" src="~/images/IMG_8214.jpeg" />
    <p>Hjärtligt välkomna till vår bröllopssite, och tack för att ni vill vara med oss på den bästa dagen i våra liv.</p>
    <p>På den här hemsidan så kommer ni kunna hitta saker om själva bröllopet,<br />festen och allt annat viktigt ni kan tänka er.</p>
    <p>Och ifall ni har några frågor, så kan ni kontakta Sol eller Chris, så hjälper vi till så gott vi kan!</p>
    <p>
        Här kommer man senare kunna lämna OSA och läsa alla detaljer om vigseln och festen. Dessa dyker upp allteftersom under fliken "Information" för att göra det enkelt för er som vill gästa vårt bröllop.
    </p>
</div>
