@page
@model WeddingSite.Pages.WantToSpeakModel
@{
    ViewData["Title"] = "Barn";
}

<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">Barn</h1>
    <hr />
    <div class="row">
        <div class="col-md">
            <img class="img-fluid" src="~/images/6ad28a22-9f96-4567-8078-4794b7f8c610.webp" />
        </div>
        <div class="col-md">
            <p>
                Eftersom både brudparet och många av gästerna är bedrövliga förebilder har vi för allas skull valt att fira denna dag i vuxet (nåja) sällskap.
            </p>
        </div>
    </div>
</div>