@page
@model WeddingSite.Pages.DresscodeModel
@{
    ViewData["Title"] = "Klädsel/Klädkod";
}

<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">Klädsel/Klädkod</h1>
    <hr />
    <div class="row">
        <div class="col-md">
            <img class="img-fluid" src="~/images/IMG_6597.jpeg" />
        </div>
        <div class="col-md">
            <h2 class="display-5 tenor-sans-regular">Kavaj</h2>
            <p>
                Vi frågade ChatGPT vad detta innebär och fick följande svar:
            </p>
            <p>
                <i>
                    Klädsel "kavaj" på bröllop innebär en formell men inte överdrivet uppklädd klädsel.
                    För män innebär det kostym med slips eller fluga, där både mörk och ljus kostym är acceptabelt beroende på tid på dagen och säsong. För kvinnor innebär det en klänning, kjol eller byxdress, ofta knälång eller längre, men inte lika formell som långklänning.
                    Stilen är elegant och respektfull utan att vara lika strikt som "mörk kostym" eller "frack".
                </i>
            </p>
            <p>Med det sagt (eller snarare citerat) så är vi egentligen inte särskilt petiga med detaljerna utan hoppas ni klär er i något ni känner er snygga, festliga och bekväma i.</p>
        </div>
    </div>
</div>