@page
@model WeddingSite.Pages.PartyModel
@{
    ViewData["Title"] = "Festen";
}

<div class="text-center">
    <h1 class="display-4">Festen</h1>
    <hr />
    <p>
        Festen kommer att hållas på <strong>(det får vi se)</strong>.
    </p>
    <p>
        Adressen är <strong>(någonstans)</strong>.
    </p>
    <p>
        Vi kommer att bjuda på en vegansk/vegetarisk buffé, och det kommer att finnas en bar med alkohol och alkoholfria alternativ.
    </p>
    <p>
        Festen kommer att börja klockan <strong>(efter bröllopet)</strong> och hålla på till <strong>(när vi får sluta)</strong>.
    </p>
    <p>
        Maten kommer vara till större delen vegansk och lakto-ovo-vegetarisk, så om du har några allergier eller annan specialkost, så hör av dig till oss så snart som möjligt.
    </p>
    <p>Vi kommer inte att servera något kött eller icke-vegetariskt.</p>
</div>