@page
@model WeddingSite.Pages.PartyModel
@{
    ViewData["Title"] = "Festen";
}

<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">Festen</h1>
    <hr />
    <p>
        Här kommer det dyka upp detaljer kring bröllopsfesten.
    </p>
</div>