@page
@model WeddingSite.Pages.RegisterModel
@{
    ViewData["Title"] = "RSVP / Anmälan";
}

<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">RSVP / Anmälan</h1>
    <hr />
    <p>
        Här kommer du att kunna ange om du kommer eller inte, samt ange övriga uppgifter.
    </p>
</div>
