@page
@model WeddingSite.Pages.RegisterModel
@{
    ViewData["Title"] = "RSVP / Anmälan";
}

<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">RSVP / Anmälan</h1>
    <hr />
    <p>
        Här kommer du att kunna ange om du kommer eller inte, samt ange övriga uppgifter.
    </p>
    <form method="post" class="row rows-cols-lg-auto justify-content-center">
        <div class="col-3 justify-content-center">
            <div class="row">
                <label asp-for="InviteCode" class="control-label">Fyll i din inbjudningskod (6 tecken)</label>
                <input asp-for="InviteCode" required class="form-control text-center" maxlength="6" placeholder="000000" />
                <span asp-validation-for="InviteCode" class="text-danger"></span>
                <br />
                <button type="submit" class="btn btn-primary">Logga in</button>
            </div>
        </div>
    </form>
</div>
