@page
@model WeddingSite.Pages.ScheduleModel
@{
    ViewData["Title"] = "Schema / Tider";
}

<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">Schema / Tider</h1>
    <hr />
    <p>
        Här kommer vi att lägga upp ett schema för dagen, så att ni vet vad som händer och när.
    </p>
</div>