@page
@model WeddingSite.Pages.TransportModel
@{
    ViewData["Title"] = "Transport";
}

<div class="text-center">
    <h1 class="display-4">Transport</h1>
    <hr />
    <p>
        Mer information kommer att skickas ut till er som har anmält er senare.
    </p>
</div>