@page
@model WeddingSite.Pages.TransportModel
@{
    ViewData["Title"] = "Transport";
}

<div class="text-center">
    <h1 class="display-4">Transport</h1>
    <hr />
    <p>
        Här kommer det dyka upp information kring resvägar till/från kyrkan och bröllopsfesten.
    </p>
</div>