@page
@model WeddingSite.Pages.TransportModel
@{
    ViewData["Title"] = "Transport";
}

<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">Transport</h1>
    <hr />
    <div class="row">
        <div class="col-md">
            <img class="img-fluid" src="~/images/756a9bef-29ee-41a5-9d81-23bc7c919803.webp" />
        </div>
        <div class="col-md">
            <p>
                Efter vigseln kommer en abonnerad buss att transportera er från kyrkan till festen på Flottsbro värdshus.
            </p>
            <p>
                Om man planerar att ta bil eller på annat sätt åka dit på egen hand, så får man gärna bocka i det på O.S.A-sidan.
            </p>
            <p>
                För att ta sig från festen rekommenderar vi taxi.
                Vill man inte ta en sådan hela vägen hem kan man välja att bli avsläppt i till exempel Flemingsberg (bussar, pendeltåg),
                Huddinge (bussar, pendeltåg) eller Masmo (bussar, tunnelbana).
            </p>
            <p>
                Det finns även möjlighet att stanna över natten. Se <a asp-page="/Boende">Boende</a>
            </p>
        </div>
    </div>
</div>