@page
@model WeddingSite.Pages.WeddingModel
@{
    ViewData["Title"] = "Vigseln";
}

<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">Vigseln</h1>
    <hr />
    <div class="row">
        <div class="col-md">
            <img class="img-fluid" src="~/images/Huddinge kyrka.jpg" />
        </div>
        <div class="col-md">
            <p>
                Vigseln kommer att äga rum i Huddinge Kyrka kl. 15, den 5/7 2025 <em>(2025-07-05)</em>
            </p>
            <p>
                Adress:<br />
                <br />
                Huddinge Kyrka<br />
                Kommunalvägen 21<br />
                14123 Huddinge<br />
                <br />
                Buss: Huddinge kommunalhus<br />
                Pendeltåg: Huddinge
            </p>
            <p>
                Parkering finns.
            </p>
        </div>
    </div>
</div>