@page
@model WeddingSite.Pages.WantToSpeakModel
@{
    ViewData["Title"] = "Vill du hålla tal?";
}

<div class="text-center">
    <h1 class="display-4">Vill du hålla tal?</h1>
    <hr />
    <p>
        Om du vill hålla tal på bröllopet, så är det bara att höra av dig till vår toastmaster!
    </p>
    <p>
        Vi kan inte garantera att alla får plats, men siktar på att så många som möjligt som vill hålla tal, får göra det!
    </p>
</div>