@page
@model WeddingSite.Pages.WantToSpeakModel
@{
    ViewData["Title"] = "Vill du hålla tal?";
}

<div class="text-center">
    <h1 class="display-4">Vill du hålla tal?</h1>
    <hr />
    <p>
        Vill du hålla tal eller liknande på bröllopsfesten? Om ja; Tack, vad kul!
    </p>
    <p>
        Kontakta toastmaster Johan via mail: <a href="mailto:toastmaster@itssimple.se">toastmaster@itssimple.se</a>
    </p>
</div>