@page
@model WeddingSite.Pages.WantToSpeakModel
@{
    ViewData["Title"] = "Vill du hålla tal?";
}

<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">Vill du hålla tal?</h1>
    <hr />
    <div class="row">
        <div class="col-md">
            <img class="img-fluid" src="~/images/IMG_9960.jpeg" />
        </div>
        <div class="col-md">
            <p>
                Vill du hålla tal eller liknande på bröllopsfesten? Om ja; Tack, vad kul!
            </p>
            <p>
                Kontakta toastmaster Johan via mail: <a href="mailto:toastmaster@itssimple.se">toastmaster@itssimple.se</a>
            </p>
        </div>
    </div>
</div>