@page
@model WeddingSite.Pages.WeddingModel
@{
    ViewData["Title"] = "Bröllopet";
}

<div class="text-center">
    <h1 class="display-4">Bröllopet</h1>
    <hr />
    <p>
        Bröllopet kommer att äga rum i <strong>Huddinge kyrka</strong>.
    </p>
</div>