@page
@model WeddingSite.Pages.WhoAreWeModel
@{
    ViewData["Title"] = "Vilka är vi?";
}

<div class="text-center">
    <h1 class="display-4">Vilka är vi?</h1>
    <hr />
    <p>Vi är Sol och Chris, ni som känner oss, ni vet vilka/hur vi är.. och för er andra!</p>
    <p>Vi älskar att resa utomlands och besöka nya ställen, men vi är även väldigt duktiga på att besöka exakt samma ställen, för att vi är lite vanedjur, hehe.</p>
    <p>Vi båda har ett stort intresse för teknik och prylar, ibland lite för stort intresse kanske.</p>
    <p>
        Vi verkligen <b>älskar</b> festivaler, det finns verkligen inget bättre än att bo på campingen, dricka massa bärs och se en massa bra band!<br />
        <i>(förutom att komma hem efter en festival och bara kunna koppla av ordentligt)</i>
    </p>
</div>